@{
    Layout = null;
    var disabled = ViewData["IsDisabled"] != null && (bool)ViewData["IsDisabled"];
}
@using Viss.Service.Contract.Entrust.Aritificial
@model Viss.Client.Manager.Areas.Entrust.Models.EntrustModel
<fieldset id="fieldsetBusinessInfo" @(disabled ? "disabled" : "")>
    <legend>业务信息</legend>
    <div class="row">
        <div class="form-group col-sm-6">
            <div>
                <label class="control-label"><i>*</i>所属区县</label>
                @*@Html.ValidationMessageFor(item => item.Province)
                    @Html.ValidationMessageFor(item => item.City)*@
                @Html.ValidationMessageFor(item => item.County)
                <input type="hidden" id="hidProvince" value="@Model.Province" />
                <input type="hidden" id="hidCity" value="@Model.City" />
                <input type="hidden" id="hidCounty" value="@Model.County" />
                @Html.HiddenFor(c => c.ProvinceName)
                @Html.HiddenFor(c => c.CityName)
                @Html.HiddenFor(c => c.CountyName)
            </div>
            <div id="slsarea">
                @Html.DropDownListFor(c => c.Province, new List<SelectListItem>(), new { @class = "form-control areacontrol" })
                @Html.DropDownListFor(c => c.City, new List<SelectListItem>(), new { @class = "form-control areacontrol" })
                @Html.DropDownListFor(c => c.County, new List<SelectListItem>(), new { @class = "form-control areacontrol" })
            </div>
        </div>
        <div class="form-group col-sm-3">
            <div>
                <label class="control-label"><i>*</i>物业类型</label>@Html.ValidationMessageFor(c => c.PropertyType)
            </div>
            <div>
                @*@Html.DropDownListFor(c => c.PropertyType, new List<SelectListItem>(), new { @class = "form-control" })*@
                @Html.EditorFor(c => c.PropertyType)
                <input id="hidPropertyType" type="hidden" value="@Model.PropertyType" />
            </div>
        </div>
        <div id="divProposer" class="form-group col-sm-3 @(Model.EntrustType== EntrustType.Quick?"hide":"")">
            <div>
                <label class="control-label">贷款申请人</label>
                @Html.ValidationMessageFor(c => c.Proposer)
            </div>
            <div>@Html.EditorFor(item => item.Proposer)</div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <div>
                <label class="control-label"><i>*</i>详细地址</label>@Html.ValidationMessageFor(item => item.DetailAddress)
            </div>
            <div>@Html.EditorFor(item => item.DetailAddress)</div>
        </div>
        <div class="form-group col-sm-3">
            <div>
                <label class="control-label"><i>*</i>单据类型</label>@Html.ValidationMessageFor(c => c.ProductId)
            </div>
            <div>
                @if (disabled)
                {
                    <span>@Model.ProductName</span>
                    @Html.HiddenFor(c => c.ProductId)
                }
                else
                {
                    @Html.DropDownListFor(c => c.ProductId, new List<SelectListItem>(), new { @class = "form-control" })
                    <input id="hidProductId" type="hidden" value="@Model.ProductId" />
                    @Html.HiddenFor(c => c.ProductName)
                    @Html.HiddenFor(c => c.EntrustType)
                    @Html.HiddenFor(c => c.DeadLine)
                }

            </div>
        </div>
        <div class="form-group col-sm-3">
            <div>
                <label class="control-label">是否需查勘</label>
            </div>
            <div>
                <div class="radio">
                    <label>
                        @Html.RadioButtonFor(c => c.IsOrientation, "True")是
                    </label>
                    <label>
                        @Html.RadioButtonFor(c => c.IsOrientation, "False")否
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-3">
            <div>
                <label class="control-label">所属项目</label>
            </div>
            <div>@Html.EditorFor(item => item.ProjectName)</div>
        </div>
        <div class="form-group col-sm-3">
            <div>
                <label class="control-label"><i>*</i>建筑面积</label>@Html.ValidationMessageFor(item => item.FloorAcreage)
            </div>
            <div>@Html.EditorFor(item => item.FloorAcreage)</div>
        </div>
        <div class="form-group col-sm-3">
            <div>
                <label class="control-label"><i>*</i>价值时点</label>@Html.ValidationMessageFor(c => c.TimePoint)
            </div>
            <div>
                @if (Model.TimePoint == DateTime.MinValue)
                {
                    @Html.EditorFor(item => item.TimePoint, new { isToday = "true" })
                }
                else
                {
                    @Html.EditorFor(item => item.TimePoint)
                }
            </div>
        </div>
        <div class="form-group col-sm-3">
            <div>
                <label class="control-label">备注</label>
            </div>
            <div>
                @if (disabled)
                {
                    <div class="col-sm-12" style="
                                      height: 51px;
                                      word-wrap: break-word;
                                      overflow: hidden;">@Model.Remarks</div>
                }
                else
                {
                    <textarea class="form-control" rows="3" id="Remarks" name="Remarks">@Model.Remarks</textarea>
                }
            </div>
        </div>
    </div>
</fieldset>
<script type="text/javascript">

    //2.4  贷款申请人：非快捷回价时才会出现贷款申请人字段。
    //当产品类型为快捷询价时：*物业类型、*所在区县、*详细地址、*建筑面积、*价值时点显示为必填项。。
    //产品类型为人工询价及房产报告时：*物业类型、*所在区县、*详细地址、*建筑面积、*价值时点、*贷款申请人、*土地面积、*移动号码、*邮箱显示为必填项 。
    var exception = ["Proposer", "LandAcreage", "MobilePhone", "Email"];

    $(function () {
        if ("@disabled.ToString()"==="True") {
            coral.controls.setDisableStyle("fieldsetBusinessInfo");
        }
        //$("#entrustform").validate().settings.rules.FloorAcreage.numRule1 = true;

        if ($("#fieldsetBusinessInfo").prop("disabled")) {
            $("#slsarea").html("<span>@(Model.ProvinceName+" "+ Model.CityName + " " + Model.CountyName)</span>");
            $("#PropertyType").html("<option value='@Model.PropertyType' >@Model.PropertyName</option>");
            $("#ProductId").html("<option value='@Model.ProductId'>@Model.ProductName</option>");
            return;
        }
        initPartial();
        bindAddress();
        bindPropertyType();

    });

    var initPartial = function () {
        $("#PropertyType").click(function() {
            if ($("#InquirerName").val()==="") {
                coral.toast("info", "请先选择询价人");
            }
        });
        $("#PropertyType").change(function () {
            deleteRules();
            bindProducts();
        });
        //产品
        $("#ProductId").click(function () {
            if ($("#PropertyType option").length===0) {
                coral.toast("info", "请先选择物业类型");
            }
        });
        $("#ProductId").change(function () {
            var $this = $(this);
            var seloption = $this.find("option:selected");
            var templateTypeId = seloption.attr("templateTypeId");
            $("#ProductName").val(seloption.text());
            $("#EntrustType").val(templateTypeId);
            //超时时间
            $("#DeadLine").val(seloption.attr("DeadLine"));
            var divProposer = $("#divProposer");
            var rules = $("#entrustform").validate().settings.rules;
            var messages = $("#entrustform").validate().settings.messages;
            if (coral.IsKong(templateTypeId) || templateTypeId === "16941") {
                if (!divProposer.hasClass("hide")) {
                    divProposer.addClass("hide");
                }
                //
                deleteRules();
            } else {
                divProposer.removeClass("hide");
                //
                for (var i = 0; i < exception.length; i++) {
                    var item = exception[i];
                    var label = $("span[data-valmsg-for='" + item + "']").prev();
                    if (label.find("i").length>0) {
                        continue;
                    }
                    label.html("<i>*</i>" + label.html());
                    rules[item] = { required: true };
                    messages[item] = { required: "必填" };
                    if (item ==="Email") {
                        rules[item]["email"] = true;
                        messages[item]["email"] = "请输入正确的邮箱";
                    }
                    if (item === "MobilePhone") {
                        rules[item]["mobilephone"] = true;
                        //messages[item]["mobilephone"] = "请输入正确的手机号码";
                    }
                    if (item === "LandAcreage") {
                        rules[item]["numrule2"] = true;
                    }
                    if (item === "Proposer") {
                        rules[item]["nos"] = true;
                    }
                }
            }
        });
    }

    /**
     * 删除部分验证规则
     */
    var deleteRules = function () {
        var rules = $("#entrustform").validate().settings.rules;
        var messages = $("#entrustform").validate().settings.messages;
        for (var j = 0; j < exception.length; j++) {
            var item = exception[j];
            delete rules[item];
            delete messages[item];
            var label = $("span[data-valmsg-for='" + item + "']").prev();
            var labelhtml = label.html();
            label.html(labelhtml.replace("<i>*</i>",""));
            $("#" + item).removeClass("input-validation-error");
            var valspan = $("span[data-valmsg-for='" + item + "']");
            valspan.html('');
            valspan.removeClass("field-validation-error");
            valspan.addClass("field-validation-valid");
        }
    }
    //绑定物业类型
    var bindPropertyType = function () {
        var inquirerId = $("#InquirerId").val();
        if (inquirerId==="0") {
            return;
        }
        coral.get('@Url.Action("GetPropertyType", "Entrust")', { customUserId: inquirerId }, function (data) {
            var optionhtml = "<option value=''>请选择</option>";
            for (var i = 0; i < data.length; i++) {
                var item = data[i];
                optionhtml += "<option value='" + item.PropertyId + "'>" + item.PropertyName + "</option>";
            }
            $("#PropertyType").html(optionhtml);
            var hidPropertyType = $("#hidPropertyType").val();
            if (!coral.IsKong(hidPropertyType)) {
                $("#PropertyType").find("option[value='" + hidPropertyType + "']").prop("selected", true);
                bindProducts();
            }
        });
    }

    //绑定产品
    var bindProducts = function () {
        var inquirerId = $("#InquirerId").val();
        if (inquirerId==="0") {
            return;
        }
        var propertyType = $("#PropertyType").val();
        if (coral.IsKong(propertyType)) {
            return;
        }
        coral.get('@Url.Action("GetProducts", "Entrust")',
            { customUserId: inquirerId, propertyId: propertyType },
            function(data) {
                var optionhtml = "<option DeadLine='0' templateTypeId='' value=''>请选择</option>";
                for (var i = 0; i < data.length; i++) {
                    var item = data[i];
                    optionhtml += "<option DeadLine='" + item.DeadLine+"' templateTypeId='" +
                        item.TemplateTypeId +
                        "' value='" +
                        item.Id +
                        "'>" +
                        item.OutName +
                        "</option>";
                }

                $("#ProductId").html(optionhtml);
                var hidProductId = $("#hidProductId").val();
                if (!coral.IsKong(hidProductId)) {
                    $("#ProductId").find("option[value='" + hidProductId + "']").prop("selected", true);
                    //必填
                    $("#ProductId").change();
                }
            });
    }

    var bindAddress = function() {
        $.coralAddress.init({
            contain: $("#slsarea"),
            defaultProvinceValue: $("#hidProvince").val(),
            defaultCityValue: $("#hidCity").val(),
            defaultCountyValue: $("#hidCounty").val(),
            countySelected: function () {
                //判断是否计算税费
                if (!$("#chkistax").prop("checked")) {
                    return;
                }
                bindLoopLine();
            }
        });
    }

    var bindLoopLine = function () {
        //绑定环线
        $.ajax({
            type: 'get',
            url: '@Url.Action("GetLooplineList", "Entrust")',
            data: { area: $("#hidCity").val() },
            success: function(res) {
                if (!res || !res.Data) return;
                var data = res.Data;
                var optionhtml = "<option value='0'>请选择</option>";
                for (var i = 0; i < data.length; i++) {
                    var item = data[i];
                    optionhtml += "<option value='" + item.Id + "'>" + item.DictText + "</option>";
                }
                $("#LoopLine").html(optionhtml);
            }
        });
    }
</script>