@{
    Layout = null;
    var disabled = ViewData["IsDisabled"] != null && (bool)ViewData["IsDisabled"];
}
@model Viss.Client.Manager.Areas.Entrust.Models.EntrustModel
<fieldset id="fieldsetCompanyInfo" @(disabled ? "disabled" : "")>
    <legend>询价机构信息</legend>
    <div class="row">
        <div class="form-group col-sm-3">
            <div>
                <label class="control-label"><i>*</i>询价人</label>@Html.ValidationMessageFor(c => c.InquirerName)
            </div>
            <div>
                <div style="position: relative;">
                    @Html.EditorFor(c => c.InquirerName, new { @readonly = true, style = "background-color: #fff; padding-right: 35px;" })
                    @if (!disabled)
                        {
                        <span class="caret" style="position: absolute; right: 10px; top: 40%;"></span>
                        }
                </div>
                @Html.HiddenFor(item => item.CompanyName)
                @Html.HiddenFor(c => c.CompanyType)
                @Html.HiddenFor(c => c.CompanyId)
                @Html.HiddenFor(c => c.InquirerId)
            </div>
            <div id="containerCompany" class="treecontainer">
                <ul id="treeCompany" class="ztree ultree"></ul>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <div>
                <label class="control-label">联系电话</label>
                @Html.ValidationMessageFor(c => c.MobilePhone)
            </div>
            <div>@Html.EditorFor(item => item.MobilePhone)</div>
        </div>
        <div class="form-group col-sm-3">
            <div>
                <label class="control-label">邮箱</label>
                @Html.ValidationMessageFor(c => c.Email)
            </div>
            <div>@Html.EditorFor(item => item.Email)</div>
        </div>
    </div>

</fieldset>
<script type="text/javascript">
    var treeCustomOrgObj;
    $(function () {
        if ("@disabled.ToString()"==="True") {
            coral.controls.setDisableStyle("fieldsetCompanyInfo");
        }
        if ($("#fieldsetCompanyInfo").prop("disabled")) {
            return;
        }
        bindCompany();
    });

    //绑定询价机构
    var bindCompany = function () {
        coral.post('@Url.Action("GetCustomOrganizeAndUser", "Entrust")', function (data) {
            $.fn.zTree.init($("#treeCompany"), $.extend({}, { callback: { onCheck: treeCompanyOnCheck } }, $.ztreeExtend.defaultSettings), data);
            treeCustomOrgObj=$.ztreeExtend.init({
                postion: "InquirerName",
                container: "containerCompany"
            });
        });
    }

    var treeCompanyOnCheck = function (e, treeId, treeNode) {
        //companyInfo CompanyName CompanyType CompanyId InquirerId InquirerName 赋值

        var $InquirerName = $("#InquirerName");
        var $InquirerId = $("#InquirerId");
        var $CompanyName = $("#CompanyName");
        var $CompanyId = $("#CompanyId");
        var $CompanyType = $("#CompanyType");
        var $PropertyType = $("#PropertyType");
        if (treeNode.checked) {
            $InquirerName.val(treeNode.name);
            $InquirerId.val(treeNode.id);
            var parentNode = treeNode.getParentNode();
            if (parentNode != null) {
                $CompanyName.val(parentNode.name);
                $CompanyId.val(parentNode.id);
            }
            var currentRoot = $.ztreeExtend.getCurrentRoot(treeNode);
            $CompanyType.val(currentRoot.id);

            if (!coral.IsKong(treeNode.email)) {
                $("#Email").val(treeNode.email);
            } else {
                $("#Email").val('');
            }
            if (!coral.IsKong(treeNode.phone)) {
                $("#MobilePhone").val(treeNode.phone);
            } else {
                $("#MobilePhone").val('');
            }

            // ReSharper disable once UseOfImplicitGlobalInFunctionScope
            bindPropertyType();
        } else {
            $InquirerName.val('');
            $InquirerId.val('');
            $CompanyName.val('');
            $CompanyId.val('');
            $CompanyType.val('');
            $PropertyType.html('');
            $PropertyType.val('');
        }
        treeCustomOrgObj.hideMenu();
    }
</script>