@{
    Layout = null;
    var disabled = true;
    var operation = (EntrustOperation)ViewBag.Operation;
    if (operation == EntrustOperation.BasicModify)
    {
        disabled = false;
    }
    else if (operation == EntrustOperation.Surveying || operation == EntrustOperation.Evaluativeing)
    {
        if (Model.SourceType == DataSourceType.ManageClient)
        {
            disabled = false;
        }
    }

    if (!disabled && Model.IsSuspend)
    {
        disabled = true;
    }
    ViewBag.IsDisabled = disabled;
}
@using Viss.Client.Manager.Html
@using Viss.Client.Manager.Html.XButton
@using Viss.Service.Contract.Entrust.Aritificial
@model Viss.Client.Manager.Areas.Entrust.Models.EntrustModel
<fieldset id="fieldsetEquityInfo" @(disabled ? "disabled" : "")>
    <legend>不动产权属</legend>
        <div class="row">
            <div class="form-group col-sm-3">
                <div>
                    <label class="control-label">购房日期</label>
                </div>
                <div>@Html.EditorFor(item => item.PurchaseTime,new { emptyContent = "-"})</div>
            </div>
            <div class="form-group col-sm-3">
                <div>
                    <label class="control-label">登记价格</label>
                </div>
                <div>@Html.EditorFor(item => item.PurchasePrice)</div>
            </div>
            <div class="form-group col-sm-3">
                <div>
                    <label class="control-label">套内面积</label>
                </div>
                <div>@Html.EditorFor(item => item.InternalArea)</div>
            </div>
            <div class="form-group col-sm-3">
                <div>
                    <label class="control-label">建筑年份</label>
                </div>
                <div>@Html.EditorFor(item => item.CompletionYear)</div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3">
                <div>
                    <label class="control-label">证载用途</label>
                </div>
                <div>@Html.EditorFor(c => c.Purpose)</div>
            </div>
            <div class="form-group col-sm-3">
                <div>
                    <label class="control-label">使用权来源</label>
                </div>
                <div>@Html.EditorFor(c => c.LandTenureTypes)</div>
            </div>
            <div class="form-group col-sm-3">
                <div>
                    <label class="control-label">权益人属性</label>
                </div>
                <div>@Html.EditorFor(c => c.Obligee)</div>
            </div>
            <div class="form-group col-sm-3">
                <div>
                    <label class="control-label">土地面积</label>
                    @Html.ValidationMessageFor(c => c.LandAcreage)
                </div>
                <div>@Html.EditorFor(item => item.LandAcreage)</div>
            </div>
        </div>
</fieldset>
@if (operation == EntrustOperation.Evaluativeing || operation == EntrustOperation.Surveying)
{
    if (Model.SourceType == DataSourceType.ManageClient)
    {
        <div class="fix-bottom-operation"></div>
        <div class="bottom-operation">
            @Html.Coral().XButton(new XButtonSettings
       {
           Id = "btnSaveEquityInfo",
           CssClass = "btn btn-primary",
           Value = "保存不动产权属信息",
           DataClick = "saveEquityInfo()"
       })
        </div>
    }
}
<script type="text/javascript">
    $(function () {
        if ("@disabled.ToString()"==="True") {
            coral.controls.setDisableStyle("fieldsetEquityInfo");
        }
        $('a[href="#equity"]').on('hide.bs.tab',
            function (e) {
                if (JSON.stringify(equityInfoData) === JSON.stringify(getEquityInfoData())) {
                    return true;
                }
                coral.confirm("不动产权属有未保存的信息,确定离开吗？", function(result) {
                    if (result) {
                        equityInfoData = getEquityInfoData();
                        $(e.relatedTarget).tab('show');
                    }

                });
                return false;
            });
    });

    var equityInfoData = getEquityInfoData();
    function getEquityInfoData() {
        var postData = {};
        $("#fieldsetEquityInfo input,#fieldsetEquityInfo select").each(function () {
            var $this = $(this);
            postData[$this.attr("name")] = $this.val();
        });
        return postData;
    }

    function saveEquityInfo() {
        var postData = getEquityInfoData();
        postData.Id = $("#Id").val();
        coral.post('@Url.Action("SaveEquityInfo", "Entrust")', postData, function () {
            equityInfoData = getEquityInfoData();
            coral.toast("success", "保存成功");
        });
    }
</script>