@using Coralcode.Mvc.Extensions
@* dataTable小图 *@
@{
    Layout = null;
}
<div class="panel panel-default">
    <div class="panel-heading">
        近期系统询价摘要：<a target="_blank" class="detailLink" id="systemLink" class="text-right">全部内容<i class="fa fa-angle-double-right"></i></a>
    </div>
    <div class="panel-body">
        <table id="top5AssessmentGrid" class="table table-striped jambo_table bulk_action table-hover"></table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        近期人工询价摘要：<a class="detailLink" id="advisorLink" target="_blank" class="text-right" data-link="historyentrustlist">全部内容<i class="fa fa-angle-double-right"></i></a>
    </div>
    <div class="panel-body">
        <table id="top5EntrustGrid" class="table table-striped jambo_table bulk_action table-hover"></table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        近期案例摘要：<a class="detailLink" id="caseLink" target="_blank" class="text-right" data-link="historyentrustlist">全部内容<i class="fa fa-angle-double-right"></i></a>
    </div>
    <div class="panel-body">
        <table id="top5CaseGrid" class="table table-striped jambo_table bulk_action table-hover"></table>
    </div>
</div>

<script>
    $(function () {
        var entrustType = 0;
        $('#advisorLink').attr('href', '@Url.ActionForUrl("/entrust/entrust/historyentrustlist")?tab=advisor' + '&propertyType=' + entrustType + '&province=' + $('#hidProvince').val() + '&city=' + $('#hidCity').val() + '&county=' + $('#hidCounty').val() + '&address=' + $('#DetailAddress').val());

        $('#systemLink').attr('href', '@Url.ActionForUrl("/entrust/entrust/historyentrustlist")?tab=system' + '&propertyType=' + entrustType + '&province=' + $('#hidProvince').val() + '&city=' + $('#hidCity').val() + '&county=' + $('#hidCounty').val() + '&address=' + $('#DetailAddress').val());

        $('#caseLink').attr('href', '@Url.ActionForUrl("/entrust/entrust/historyentrustlist")?tab=case' + '&propertyType=' + entrustType + '&province=' + $('#hidProvince').val() + '&city=' + $('#hidCity').val() + '&county=' + $('#hidCounty').val() + '&address=' + $('#DetailAddress').val());

        var option = {
            pageIndex:1,
            pageSize: 5,
            pagination: false,
            searchModel: {
                //EntrustType: $('#EntrustType').val(),
                EntrustType: entrustType,
                province: $('#hidProvince').val(),
                city: $('#hidCity').val(),
                county: $('#hidCounty').val(),
                address: $('#DetailAddress').val(),
                StartCreateTime: coral.getDate(-3),
                EndCreateTime: moment().format().formatCeilDate(),
                // 已完成
                state: 512
            }
        };
        // 系统询价
        (function() {
            var columns = [
                { field: 'Id', visible: false },
                { field: 'AssessSinglePrice', title: '单价（元/平方米）' },
                { field: 'AssessTotalPrice', title: '总价（万元）' },
                { field: 'CreateTime', title: '询价时间' },
                { field: 'FloorAcreage', title: '建筑面积（平方米）' },
                { field: 'CompanyName', title: '询价机构' }
            ];
            new TableInit('top5AssessmentGrid',
                '',
                "@Url.Action("GetSystemEntrustHistoryList", "Entrust")",
                columns).Init(option);
        })();

        // 人工询价
        (function () {
            var columns = [
                { field: 'AssessSinglePrice', title: '单价（元/平方米）' },
                { field: 'AssessTotalPrice', title: '总价（万元）' },
                { field: 'CreateTime', title: '询价时间' },
                { field: 'FloorAcreage', title: '建筑面积（平方米）' },
                { field: 'CompanyName', title: '询价机构' }
            ];
            new TableInit('top5EntrustGrid',
                '',
                "@Url.Action("GetAdvisorEntrustHistoryList", "Entrust")",
                columns).Init(option);
        })();

        // 案例信息
        (function() {
            var columns = [
                { field: 'OperatorRole', title: '单价（元/平方米）' },
                { field: 'OperatorName', title: '小区名称' },
                { field: 'Statement', title: '建筑面积（平方米）' },
                { field: 'Statement', title: '所在层/总层数' },
                { field: 'OperatorTime', title: '询价时间' },
                { field: 'Opinion', title: '案例类型' }
            ];
            new TableInit('top5CaseGrid',
                '',
                "@Url.Action("GetCaseList", "Entrust")",
                columns).Init(option);
        })();

//        (function() {
//            var anchorList = $('[data-link]');
//            if (anchorList && anchorList.length !== 0) {
//                for (var i = 0, len = anchorList.length; i < len; i++) {
//                    var $anchor = $(anchorList[i]), href = $anchor.attr('href');
//                    href += '&propertyType=' + option.searchModel.propertyType;
//                    href += '&province=' + option.searchModel.province;
//                    href += '&city=' + option.searchModel.city;
//                    href += '&county=' + option.searchModel.county;
//                    href += '&address=' + encodeURI(option.searchModel.address);
//                    $anchor.attr('href', href);
//                }
//            }
//        })();
    });

</script>

