@{
    Layout = null;
    var disabled = ViewBag.IsDisabled != null && (bool)ViewBag.IsDisabled;
}
@model Viss.Client.Manager.Areas.Entrust.Models.EntrustModel
<fieldset id="fieldsetSysOrgInfo" @(disabled ? "disabled" : "")>
    <div class="row">
        <div class="form-group col-sm-3">
            <div>
                <label class="control-label"><i>*</i>评估作业人员</label>@Html.ValidationMessageFor(c => c.SysUserName)
            </div>
            <div>
                <div style="position: relative;">
                    @Html.EditorFor(c => c.SysUserName, new { @readonly = "true", style = "background-color: #fff; padding-right: 35px;" })
                    @if (!disabled)
                    {
                        <span class="caret" style="position: absolute; right: 10px; top: 40%;"></span>
                    }
                </div>
                @Html.HiddenFor(c => c.SysUserId)
                @Html.HiddenFor(c => c.SysOrgId)
                @Html.HiddenFor(c => c.SysOrgName)
                @Html.HiddenFor(c => c.SysOrgCode)
                @Html.HiddenFor(c => c.UserContextUserId)
            </div>
            <div id="containerSysOrg" class="treecontainer">
                <ul id="treeSysOrg" class="ztree ultree"></ul>
            </div>
        </div>
        <div class="form-group col-sm-3" style="text-align: center;">
            <div>
                <label class="control-label">&nbsp;</label>
            </div>
            <label style="padding: 6px 12px">
                <input type="checkbox" id="SendSms" name="SendSms" checked="@Model.SendSms" value="@Model.SendSms.ToString().ToLower()" />
                短信提醒作业人员
            </label>
        </div>
        <div class="form-group col-sm-3">
            <div>
                <label class="control-label">&nbsp;</label>
            </div>
            <label style="padding: 6px 12px">
                <input type="checkbox" id="Remind" name="Remind" checked="@Model.Remind" value="@Model.Remind.ToString().ToLower()" />加急
            </label>
        </div>
    </div>
</fieldset>
<script type="text/javascript">
    var treeSysOrgObj;
    $(function () {
        if ("@disabled.ToString()"==="True") {
            coral.controls.setDisableStyle("fieldsetSysOrgInfo");
        }
        if ($("#fieldsetSysOrgInfo").prop("disabled")) {
            return;
        }
        bindSysOrg();
    });

    //估价人
    var bindSysOrg = function () {
        coral.get(coral.GetLocalhostPath() + "/entrust/entrust/GetSysUserId", function (data) {
            var treeObj = $.fn.zTree.init($("#treeSysOrg"), $.extend({}, { callback: { onCheck: treeSysOrgOnCheck } }, $.ztreeExtend.defaultSettings), data);
            treeSysOrgObj = $.ztreeExtend.init({
                postion: "SysUserName",
                container: "containerSysOrg"
            });
            var arrNode = treeObj.getNodesByParam("id", "@Model.SysUserId");
            if (arrNode.length>0) {
                treeObj.checkNode(arrNode[0], true);
            }
        });
    }

    var treeSysOrgOnCheck = function (e, treeId, treeNode) {
        //SysUserName SysUserId SysOrgId SysOrgName 赋值
        var $SysUserName = $("#SysUserName");
        var $SysUserId = $("#SysUserId");
        var $SysOrgName = $("#SysOrgName");
        var $SysOrgId = $("#SysOrgId");
        var $SysOrgCode = $("#SysOrgCode");
        if (treeNode.checked) {
            if ($("#UserContextUserId").val() !== treeNode.id) {
                $("#SendSms").prop("checked",true);
            } else {
                $("#SendSms").prop("checked", false);
            }
            $SysUserName.val(treeNode.name);
            $SysUserId.val(treeNode.id);
            var parnetNode = $.ztreeExtend.getCurrentOrg(treeNode);
            if (parnetNode != null) {
                $SysOrgName.val(parnetNode.name);
                $SysOrgId.val(parnetNode.id);
                $SysOrgCode.val(parnetNode.code);
            }
        } else {
            $("#SendSms").prop("checked", false);
            $SysUserName.val('');
            $SysUserId.val('');
            $SysOrgName.val('');
            $SysOrgId.val('');
            $SysOrgCode.val('');
        }
        treeSysOrgObj.hideMenu();
    }
</script>